.moviePoster {
    width: 240px;
}
.chipButton {
    background: rgba(241, 181, 15, 0.952);
    // --ion-color-warning: #ffd534;
    // --ion-color-warning-rgb: 255,213,52;
    // --ion-color-warning-contrast: #000000;
    // --ion-color-warning-contrast-rgb: 0,0,0;
    // --ion-color-warning-shade: #e0bb2e;
    // --ion-color-warning-tint: #ffd948;
    
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}
.hidden{
    display:none;
}